body {
    background-color: #e5e5e5;
    font-family: Quicksand, sans-serif;
}

h1 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: rgb(30, 140, 248);
}
input {
    border: none;
    border-bottom: solid #c7c7c7;
    width: 15rem;
    height: 2rem;
    margin-bottom: 2rem;
}

input::placeholder{
    color: #c7c7c7;
}

input:focus {
    border: #a62fff;
}

.form-login {
    margin-top: 10rem;
    border: solid grey;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.rent_color {
    background-color: rgba(110, 167, 255, 0.14);
}

.text-center {
    text-align: center;
}

.grey {
    color: rgb(124, 142, 157);
}

.connexion {
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: grey;
}

.mdp {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    border: solid grey;
}

.society-header img {
    width: 5%;
    margin-right: 1rem;
}

.society-header {
    display: flex;
}

.date-activity {
    display: block;
    color: grey;
    text-align: center;
}

.dashboard {
    display: flex;
    margin-right: 3rem;
    margin-left: 3rem;
}

.activity-text {
    text-align: center;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.activity {
    border-bottom: solid #676767 1px;
    display: flex;
}

.box-society {
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 3rem;
}
